* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}
a {
  text-decoration: none;
}
.container {
  width: 1500px;
}
.landing {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}
.landing header {
  display: flex;
  justify-content: space-between;
}
